---
import HomePageLayout from '../layouts/HomePageLayout.astro';
import HeroSection from '../components/HeroSection.astro'
import About from '../components/About.astro'
const pageTitle = "Bienvenido a Hogwarts"

const response = await fetch('https://hp-api.onrender.com/api/characters');
const data = await response.json();
const firstResult = data[0]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo_hogwarts.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<HomePageLayout pageTitle={pageTitle}>
			<HeroSection pageTitle={pageTitle} />
			<main class="px-10 dark:bg-slate-800">
				<About />
				<p class="text-slate-800 dark:text-white">{firstResult.name} - {firstResult.house}</p>
			</main>
		</HomePageLayout>
	</body>
</html>
